@using AutomotoraWeb.Controllers.Financing;
@{ 
    ViewBag.Title = "Recibo Entrada / Salida Caja";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", FinancingController.INDEX, FinancingController.BCONTROLLER).Class("btn btn-default"))
</div>
<div class="clear-both"></div>

@{ if (ViewData["idParametros"]==null || (int)ViewData["idParametros"]==0) { return; }}

@Html.Partial("_reciboCaja")