@model AutomotoraWeb.Models.BancoSaldoModel
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cuentas Bancarias: Saldos";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>
<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "Saldos").Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportSaldos", Model)