@model AutomotoraWeb.Models.SituacionCliente
@using System.Web.UI.WebControls;
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Controllers.Financing;
@using AutomotoraWeb.Controllers.Bank;
@using AutomotoraWeb.Models;

@{
    InfoGrilla ig = new InfoGrilla();
    ig.VisibleColumns = new List<ColumnaGrilla>() { 
         new ColumnaGrilla {Campo="VehiculoOrigen", Ancho=70, Titulo = "Ficha", Alineacion=ColumnaGrilla.ALINEACIONES.DERECHA,
                Hipervinculo=true, Haccion="details", Hcontrolador="Vehiculos", HCampoParametro="VehiculoOrigen.Codigo"},
        new ColumnaGrilla {Campo="FechaVencimiento", Ancho=80, Titulo="F.Vencimiento"},
            new ColumnaGrilla {Campo="Importe", Ancho=150, Titulo="Importe"},
            new ColumnaGrilla {Campo="DescripcionEstado", Ancho=80, Titulo="Estado"},
            new ColumnaGrilla {Campo="DetalleOrigen", Ancho=230, Titulo="Detalle"},
            new ColumnaGrilla {Campo="Observaciones", Ancho=200},
            new ColumnaGrilla {Campo="Sucursal", Ancho=100}
    };
            
        
    ig.NameGrid = "grilla_cheques";
    ig.Controller = ConsultasFinController.CONTROLLER;
    ig.ActionCallbackRoute = "GrillaChequesCliente";
    ig.KeyFieldName = "Codigo";
    ig.TypeOfModel = typeof(DLL_Backend.Cheque);

    ig.AccionesAlComienzo = true;
    ig.AddButton(new BotonGrilla("ConsultaCheque", ChequesListController.CONTROLLER, "boton-consultar-mf", "Consulta Cheque"));
    
    ig.DobleClick = true;
    ig.ControladorDobleClick = ChequesListController.CONTROLLER;
    ig.AccionDobleClick = "ConsultaCheque";

    ViewBag.InfoGrilla = ig;
}

@Html.Partial("_generalGrid", Model.Cheques)

<div class="clear-both"></div>
<div style="padding-top: 20px">
    <div class="floatLeft label-large">
        <div class="display-label"> Total Cheques: </div> 
        @Html.DisplayFor(m => m.TotalCheques.ImporteTexto)
    </div>
</div>
<div class="clear-both"></div>