@model AutomotoraWeb.Models.SituacionCliente
@using AutomotoraWeb.Helpers;


<div>
    Riesgo Cliente: @Html.DisplayFor(m=>m.TotalDeuda.ImporteTexto)
</div>

<div class="well" style="margin-top: 40px; width: 1000px; height: 1100px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#cuotas_tab" data-toggle="tab">Cuotas</a></li>
        <li><a href="#vales_tab" data-toggle="tab">Vales</a></li>
        <li><a href="#cheques_tab" data-toggle="tab">Cheques</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="cuotas_tab">
            @Html.Partial("_sitClienteCuotas", Model)
        </div>
        <div class="tab-pane fade" id="vales_tab">
             @Html.Partial("_sitClienteVales", Model)
        </div>
        <div class="tab-pane fade" id="cheques_tab">
            @Html.Partial("_sitClienteCheques", Model)
        </div>
    </div>
</div>