@model DLL_Backend.Cliente
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

@{
    ViewBag.Title = "Consulta Situación Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    
    
    <div id="filtros" class="block" style="margin-right: 5px">
        <div class="btn-toolbar botoneraListado">
            <div class="btn-group">
                <input type="submit" id="Submit1" title="Refresh" class="btn btn-primary" name="btnSubmit" value="Actualizar" />
            </div>
            <div class="btn-group" style="margin-left: 10px">
                <input type="submit" id="Submit2" class="btn btn-primary2-mf" name="btnSubmit" value="Imprimir" />
            </div>
        </div>
        <div id="filtro_cliente" style="padding-left:20px; padding-top:20px; padding-bottom:10px">
            <div class="display-label" style="width:70px" >
                Cliente*
            </div>
            <div class="editor-field editor-field-xlarge xxlarge">
                @Html.DdlOrDisplayFor(model => model.Codigo, false, model => model.Nombre,
                new SelectList(ViewBag.Clientes, "Codigo", "Nombre"), "--Seleccionar Cliente--",
                new { id = "ddlClientes", @class = "xxlarge" })
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
}

<div id="divListado">
    @{
        SituacionCliente sit = new SituacionCliente();
        sit.generarSituacion(Model);
    }

    @Html.Partial("_listSitCliente", sit)
</div>

@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/SitCliente.js"></script>
}