@model DLL_Backend.Venta
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consulta Finaciación";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "ConsultaFinanciacion").Class("btn btn-default").RouteValues(new { id=Model.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportFinanciacion", Model)