@model AutomotoraWeb.Models.ListadoCuotasValesModel
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Situacion de Cuotas";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "ListSitCuotas").Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportSitCuotas", Model)