@model DLL_Backend.Cliente
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = "Situacion Cliente";
}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.LIST).Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportSitCliente", Model.Codigo)