@model AutomotoraWeb.Models.ListadoCuotasValesModel
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = "Cuotas Pendientes";
}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "ListCuotasPendientes").Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportCuotasPendientes", Model)