@model AutomotoraWeb.Models.ListadoCuotasValesModel
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = "Situacion de Cuotas";
}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "ListSitCuotas").Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportSitCuotas", Model)