@model AutomotoraWeb.Models.SituacionFinancista
@using System.Web.UI.WebControls;
@using AutomotoraWeb.Helpers;
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Controllers.Financing;
@using AutomotoraWeb.Controllers.Bank;
@using AutomotoraWeb.Models;

@Html.Partial("_sitFinancistaChequesGrilla", Model)

<div class="clear-both"></div>
<div style="padding-top: 20px">
    <div class="floatLeft label-large">
        <div class="display-label"> Total Cheques: </div> 
        @Html.DisplayFor(m => m.TotalCheques.ImporteTexto)
    </div>
</div>
<div class="clear-both"></div>