@using AutomotoraWeb.Controllers.General;
@{ 
    ViewBag.Title = ViewBag.NombreEntidades + ": Listado";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.SHOW).Class("btn btn-default"))
</div>
<div class="clear-both"></div>

@Html.Partial("_reportList")