@model DLL_Backend.Venta


<div id="divSenia" class="floatLeft" style="width: 450px; margin-left: 20px;">
    <div style="font-size: 20px;">
        Seña
    </div>
    <div id="containerSenias">

    </div>
</div>

<div id="divAcvs" class="floatLeft" style="width: 450px; margin-left: 20px;">
    <div style="font-size: 20px;">
        ACVs
    </div>
    <div id="containerACVs">

    </div>
</div>

<div class="clear-both"></div>
