@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;

<div>
    <div>
        @Html.Partial("_seleccionDeCliente", Model)
    </div>
    <div style="margin-top:8px;">
        @Html.Partial("_seleccionDeVendedor", Model)
    </div>
</div>

