@model DLL_Backend.Venta

FALTA HACER FUCIONAR ESTO.

<div id="divSenia">
    @{ if (Model.Vehiculo != null && Model.Vehiculo.Codigo > 0 && Model.Vehiculo.TieneSeniaActiva()) { 
    <div class="cabezalBloque" style="margin-bottom: 8px">Seña</div>
    <div class="clear-both"></div>
        <span>ACA  VA LA PARTIAL VIEW DE CONSULTA DE LA SENIA.</span>
    }}
</div>
<div class="clear-both"></div>

<div id="divAcvs">
    @{ if (Model.Vehiculo != null &&  Model.Vehiculo.Codigo>0 &&  Model.Vehiculo.TieneACV()) { 
        <div class="cabezalBloque" style="margin-bottom: 8px">Anticipos</div>
        <div class="clear-both"></div>
        @Html.Partial("/acvs/_grillaAcvVigentes", Model.Vehiculo.obtenerACVs())
        <div class="clear-both"></div>
        
        <div>
            <div class="display-label-90">
                Total
            </div>
            <div class="editor-field editor-field-medium ">
                @Model.Vehiculo.SumaACVs().ImporteTexto;
            </div>
        </div>
        <div class="clear-both"></div>
        
    }}
</div>