@model DLL_Backend.Venta
@using AutomotoraWeb.Helpers;
@using DLL_Backend;
@using AutomotoraWeb.Models;


@{
    bool modoConsulta = ((bool?)ViewBag.SoloLectura) ?? false;
    ViewBag.PagosSoloConsulta = modoConsulta;
}
    


<div id="contenedorSeleccionMPEfectivo">
    <div>
        @Html.Partial("_grillaPagosEfectivo", Model.Pago.Efectivos)
    </div>

    <script type="text/javascript">
        function OnBeginCallback(s, e) {
            e.customArgs["idSession"] = '@ViewData["idSession"]';
            e.customArgs["idParametros"] = '@ViewData["idParametros"]';
        }
    </script>
</div>
