@model DLL_Backend.Entrega
@using AutomotoraWeb.Controllers.Sales;
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = "Entrega Vehiculo";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Venta", "Details", VentasController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Venta.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_reciboEntrega")