@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Controllers.Sales.Maintenance;
@using DLL_Backend;
@using System.Globalization;

 <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 650px; }
    .vehiculoImageContainer{
      border: 1px solid gray;
      width: 160px; 
      height: 100px;
      float: left;
    }
    .vehiculoImageContainer img{
      height:100px;
      width:160px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#sortable" ).sortable();
        $("#sortable").disableSelection();
        $(".vehiculoImg").live("click", function () {
            var id = $(this).attr("id");
            $("#popup_content_img_" + id).dialog({
                modal: true,
                width: 'auto',
                height: 'auto',
                buttons: [
                    { text: "Eliminar Imagen", click: function() {
                        $(this).dialog("close");
                        deleteImage(id);
                    } },
                    { text: "Cerrar Dialogo", click: function() {
                        $(this).dialog("close");
                    } }
                ]
            });
        });


        $("#btnSaveOrder").click(savePhotoOrder);

        //---------------------------------------------------------------

        function deleteImage(id) {
            $.ajax({
                url: '/vehiculos/removePhoto/',
                cache: false,
                type: "POST",
                async: true,
                data: 'codePhoto=' + id,
                success: function (data) {
                    if (data.Result == "OK") {
                        $("#" + id).parent().remove();
                    }
                    else {
                        general_showAvisoPopup('Error al eliminar foto.');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    general_showAvisoPopup('Error al eliminar foto.');
                },
                beforeSend: showLoading,
                complete: hideLoading
            });
        }

        //---------------------------------------------------------------

        function savePhotoOrder(){
            $.ajax({
                url: '/vehiculos/savePhotoOrder/',
                cache: false,
                type: "POST",
                async: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: getJsonOrderedPhotos(),
                success: function(data){
                    if (data.Result != "OK") {
                        general_showAvisoPopup('Error al salvar orden de fotos.');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    general_showAvisoPopup('Error al salvar orden de fotos.');
                },
                beforeSend: showLoading,
                complete: hideLoading
            });
        }

        //---------------------------------------------------------------

        function getJsonOrderedPhotos() {
            var arrayImgElements = $("#sortable li img");
            var arrayPhotos = [];

            for (var i = 0; i < arrayImgElements.length; i++) {
                var item = getJsonPhoto(arrayImgElements[i], i+1);
                arrayPhotos.push(item);
            }

            var codigoVehiculo = parseInt($("#Codigo").val());
            var vehiculo = { Codigo: codigoVehiculo, Fotos: arrayPhotos };

            return JSON.stringify(vehiculo);
        }

        //---------------------------------------------------------------

        function getJsonPhoto(imgElement, order) {
            var splitSrc = imgElement.src.split("/");
            var lengthSrc = splitSrc.length;
            var fileName = splitSrc[lengthSrc - 1];

            var photo = {
                Archivo: fileName,
                Codigo: parseInt(imgElement.id),
                Orden: order
            };

            return photo;
        }

        //---------------------------------------------------------------

    }); 
</script>
 
<div class="btn-group">
    @(Html.Bootstrap().ActionLinkButton("Agregar Foto", VehiculosController.ADD_PHOTO, VehiculosController.CONTROLLER).AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary)))
</div>

<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn-primary  btn" id="btnSaveOrder" type="button">Guardar Orden</button>
    </div>
</div>


<ul id="sortable">
    @foreach (FotoAuto fotoAuto in ViewBag.ShortedListFotoAuto) {
        <li class="vehiculoImageContainer"><img id="@fotoAuto.Codigo" title="@fotoAuto.Orden" class="vehiculoImg" src="~/Content/Images/autos/@fotoAuto.Archivo" style="cursor: move;" /></li>
    }
</ul>

@foreach (FotoAuto fotoAuto in Model.Fotos) {
    <div id="popup_content_img_@fotoAuto.Codigo" style="display: none;"><img src="~/Content/Images/autos/@fotoAuto.Archivo" /></div>
}


