@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Controllers.Sales.Maintenance;
@using DLL_Backend;
@using System.Globalization;

@{
    bool modoConsulta = ((bool?)ViewBag.SoloLectura) ?? false;
}

<style>
    #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 650px;
    }

    .vehiculoImageContainer {
        border: 1px solid gray;
        width: 160px;
        height: 100px;
        float: left;
    }

        .vehiculoImageContainer img {
            height: 100px;
            width: 160px;
        }
</style>

<script>
    $(document).ready(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
        $(".sortable_solo_lectura").sortable("destroy")
        $(".vehiculoImg").live("click", function () {
            var id = $(this).attr("id");
            $("#popup_content_img_" + id).dialog({
                modal: true,
                width: 'auto',
                height: 'auto',
                buttons: [

                    @if(!modoConsulta){
                    <text>
                    {   
                        text: "Eliminar Imagen", click: function () {
                            $(this).dialog("close");
                            deleteImage(id);
                        }
                    },
                    </text>
                    }

                    {
                        text: "Cerrar Dialogo", click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });


        $("#btnSaveOrder").click(savePhotoOrder);

        //---------------------------------------------------------------

        function deleteImage(id) {
            $.ajax({
                url: '/vehiculos/removePhoto/',
                cache: false,
                type: "POST",
                async: true,
                data: 'codePhoto=' + id,
                success: function (data) {
                    if (data.Result == "OK") {
                        $("#" + id).parent().remove();
                    }
                    else {
                        general_showAvisoPopup('Error al eliminar foto.');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    general_showAvisoPopup('Error al eliminar foto.');
                },
                beforeSend: showLoading,
                complete: hideLoading
            });
        }

        //---------------------------------------------------------------

        function savePhotoOrder() {
            $.ajax({
                url: '/vehiculos/savePhotoOrder/',
                cache: false,
                type: "POST",
                async: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: getJsonOrderedPhotos(),
                success: function (data) {
                    if (data.Result != "OK") {
                        general_showAvisoPopup('Error al salvar orden de fotos.');
                    } else {
                        inicializarModal("Confirmación", "Orden guardado correctamente", null, "OK");
                        $('#myModal').modal('show');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    general_showAvisoPopup('Error al salvar orden de fotos.');
                },
                beforeSend: showLoading,
                complete: hideLoading
            });
        }

        //---------------------------------------------------------------

        function getJsonOrderedPhotos() {
            var arrayImgElements = $("#sortable li img");
            var arrayPhotos = [];

            for (var i = 0; i < arrayImgElements.length; i++) {
                var item = getJsonPhoto(arrayImgElements[i], i + 1);
                arrayPhotos.push(item);
            }

            var codigoVehiculo = parseInt($("#Codigo").val());
            var vehiculo = { Codigo: codigoVehiculo, Fotos: arrayPhotos };

            return JSON.stringify(vehiculo);
        }

        //---------------------------------------------------------------

        function getJsonPhoto(imgElement, order) {
            var splitSrc = imgElement.src.split("/");
            var lengthSrc = splitSrc.length;
            var fileName = splitSrc[lengthSrc - 1];

            var photo = {
                Archivo: fileName,
                Codigo: parseInt(imgElement.id),
                Orden: order
            };

            return photo;
        }

        //---------------------------------------------------------------

        $('#uploadFileBtn').click(function () {

            var formdata = new FormData(); //FormData object
            var fileInputFoto = $("#fileInputFoto");
            //Iterating through each files selected in fileInputFoto
            for (i = 0; i < fileInputFoto.prop('files').length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInputFoto.prop('files')[i].name, fileInputFoto.prop('files')[i]);
            }

            formdata.append("idsesion", $("#camposesion").val());
            formdata.append("idVehiculo", $("#idVehiculoFoto").val());

            //alert($("#camposesion").val());

            $.ajax({
                type: "POST",
                url: '/Vehiculos/Upload',
                data: formdata,
                processData: false,
                success: function (data) {
                    if (data.fileName != null) {
                        var emptyLiImage = $("#emptyLiImage").html();
                        var strLiImage = emptyLiImage.replace("ID_IMG_TO_REPLACE", data.code).replace("TITLE_TO_REPLACE", data.order).replace("FILE_NAME_TO_REPLACE", data.fileName);
                        $("#sortable").append(strLiImage);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error al subir archivo");
                },
                dataType: 'json',
                contentType: false,
                mimeType: 'multipart/form-data',
                beforeSend: function (x) {
                    if (x && x.overrideMimeType) {
                        x.overrideMimeType("multipart/form-data");
                    }
                }
            });
        });

    });
</script>

@Html.HiddenFor(model => model.Codigo, new { id = "idVehiculoFoto" })

<div style="display: none;" id="emptyLiImage">
    <li class="vehiculoImageContainer">
        <img id="ID_IMG_TO_REPLACE" title="TITLE_TO_REPLACE" class="vehiculoImg" src="~/Content/Images/autos/FILE_NAME_TO_REPLACE" style="cursor: move;" />
    </li>
</div>
<!-- ===========  FOTO  =============== -->

<div class="clear-both"></div>


@{
    if (!modoConsulta) {
    <div id="fotoModif">
        <div class="editor-field editor-field-xxlarge">
            <input id="fileInputFoto" type="file">
            <button id="uploadFileBtn" class="btn-default btn btn-primary" type="button">Subir Imagen</button>
        </div>
        <div class="clear-both"></div>

        <div class="editor-label ">
            &nbsp;
        </div>

        <div class="clear-both"></div>
        <div class="espacio2"></div>
    </div>

    <!-- ================================== -->

    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn-primary  btn" id="btnSaveOrder" type="button">Guardar Orden</button>
        </div>
    </div>
    }
}


<ul id="sortable"  class="@(!modoConsulta ? "" : "sortable_solo_lectura")">
    @foreach (FotoAuto fotoAuto in ViewBag.ShortedListFotoAuto) {
        <li class="vehiculoImageContainer">
            <img id="@fotoAuto.Codigo" title="@fotoAuto.Orden" class="vehiculoImg" src="~/Content/Images/autos/@fotoAuto.Archivo" style="cursor: move;" /></li>
    }
</ul>

@foreach (FotoAuto fotoAuto in Model.Fotos) {
    <div id="popup_content_img_@fotoAuto.Codigo" style="display: none;">
        <img src="~/Content/Images/autos/@fotoAuto.Archivo" />
    </div>
}


