@model DLL_Backend.Vehiculo
@using AutomotoraWeb.Controllers.Sales.Maintenance;
@using DLL_Backend;
@using System.Globalization;

 <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 650px; }
    .vehiculoImageContainer{
      border: 1px solid gray;
      width: 160px; 
      height: 100px;
      float: left;
    }
    .vehiculoImageContainer img{
      height:100px;
      width:160px;
    }
</style>

<script>
    $(document).ready(function () {
        $( "#sortable" ).sortable();
        $("#sortable").disableSelection();
        $(".vehiculoImg").live("click", function () {
            var id = $(this).attr("id");
            $("#popup_content_" + id).dialog({
                modal: true,
                width: 'auto',
                height: 'auto',
                buttons: [ { text: "Cerrar", click: function() { $( this ).dialog( "close" ); } } ]
            });
        });
    }); 
</script>
 
<ul id="sortable">
    @foreach (FotoAuto fotoAuto in Model.Fotos) {
        <li class="vehiculoImageContainer"><img id="img_@fotoAuto.Codigo" title="@fotoAuto.Orden" class="vehiculoImg" src="@fotoAuto.Archivo" /></li>
    }
</ul>

@foreach (FotoAuto fotoAuto in Model.Fotos) {
    <div id="popup_content_img_@fotoAuto.Codigo" style="display: none;"><img src="@fotoAuto.Archivo" /></div>
}


