@model DLL_Backend.VehiculoFiltro
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = @Html.Action("NombreEntidades").ToString() + ": Filtros Listado";
}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.SHOW).Class("btn btn-default"))
</div>
<div class="clear-both"></div>