@model List<DLL_Backend.Vehiculo>
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = @Html.Action("NombreEntidades").ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="btn-toolbar">
        <div class="btn-group">
           @(Html.Bootstrap().ActionLinkButton("Agregar ", BaseController.CREATE ).AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary))
        )
        </div>
        <div class="btn-group">
            <a class="btn btn-primary2-mf" title="Listados" href='@Url.Action(BaseController.LIST)'>Listados</a>
        </div>
    </div>
       
    <div id="divGrilla">
        @Html.Partial("_listGrilla", Model)
    </div>
</div>

