@using DLL_Backend;

@{
    ViewBag.Title = "Módulo de Gestión Financiera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_alertas", "FINANC")

<div class="row-fluid">

    <div class="block" >
        <a href="#page-stats" class="block-heading" data-toggle="collapse">Estadisticas y Pendientes</a>
        <div id="page-stats" class="block-body collapse in">
            @{  EstadisticaBasica estad = new EstadisticaBasica();
                var datos = estad.estadisticasFinanciacion();
                foreach (var k in datos.Keys) {
                <div class="stat-widget-container">
                    <div class="stat-widget">
                        <div class="stat-button">
                            <p class="title">@(datos[k])</p>
                            <p class="detail">@(k)</p>
                        </div>
                    </div>
                </div>
                }
            }

        </div>
    </div>
</div>

<div class="block" >
        <a href="#widget1container" class="block-heading" data-toggle="collapse">Funcionalidades </a>
        <div id="widget1container" class="block-body collapse in">
            <h2>Qué puedo hacer en este módulo?</h2>
            <p>Desde este lugar se maneja toda la gestion de cobranza, financiera y de caja resultado de las operaciones.</p>
            <p>En el menu Financiaciones, administre y cobre las cuotas de las financiaciones.</p>
            <p>En el menu Vales, administre y cobre los vales o conformes recibidos.</p>
            <p>Gestione la relacion con sus entidades financieras a traves de las funciones bajo Financistas.</p>
            <p>Administre su caja cheques y efectivo, mediante transacciones de entrada y salida, y emita los listados de control apropiados en la opcion Caja.</p>
            <p>Acceda a consultas en linea sobre sus clientes y su operativa financiera con la organizacion.</p>
            <p>En el apartado de Listados, podra encontrar en pocas ventajas una potente funcionalidad de consultas en las que podra ir definiendo una importante cantidad de filtros y criterios de seleccion para obtener la informacion deseada.</p>

        </div>
</div>

