@model DLL_Backend.Cheque
@using AutomotoraWeb.Helpers;
@using DLL_Backend;

@{
    ViewBag.Title = "Consulta Cheque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="divConsulta">
    CONSULTA CHEQUE PENDIENTE
   @* @Html.Partial("_sitCliente", Model)*@
</div>

@section Scripts {
    <script type="text/javascript" src="/scripts/AutomotoraWeb/ValesCliente.js"></script>
}