@model DLL_Backend.TRCuotaCobro 
@using AutomotoraWeb.Controllers.Financing;
@{ 
    ViewBag.Title = "Recibo Cobro Cuota/s";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@{ if (ViewData["idParametros"]==null || (int)ViewData["idParametros"]==0) { return; }}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Financiacion", "ConsultaFinanciacion", ConsultasFinController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Venta.Codigo}))
</div>
<div class="clear-both"></div>

@Html.Partial("_reciboCuota")