@model DLL_Backend.TRValeDescontar
@using AutomotoraWeb.Helpers;
@using DLL_Backend;

@{
    ViewBag.Title = "Descontar Vale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

   @Html.Partial("_descontar", Model)

 <script src="~/Scripts/AutomotoraWeb/DescontarVale.js"></script>
