@model DLL_Backend.TRValeDescontar
@using AutomotoraWeb.Controllers.Financing;

@{ 
    ViewBag.Title = "Descuento Vale";
}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Vale", "ConsultaVale", ValesController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Vale.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_reciboDescuento")