@model DLL_Backend.TRValeDescontar
@using AutomotoraWeb.Controllers.Financing;

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Descuento Vale";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@{ if (ViewData["idParametros"]==null || (int)ViewData["idParametros"]==0) { return; }}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Vale", "ConsultaVale", ValesController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Vale.Codigo}))
</div>
<div class="clear-both"></div>

@Html.Partial("_reciboDescuento")