@model DLL_Backend.TRValeRechazar
@using AutomotoraWeb.Controllers.Financing;

@{ 
    ViewBag.Title = "Vale Descontado Impago";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@{ if (ViewData["idParametros"]==null || (int)ViewData["idParametros"]==0) { return; }}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Vale", "ConsultaVale", ValesController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Vale.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_reciboRech")