@model AutomotoraWeb.Models.ListadoValesModel
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado Vales";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "ListVales").Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportVales", Model)