@model DLL_Backend.Vale
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consulta Vale";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "ConsultaVale").Class("btn btn-default").RouteValues(new{id=Model.Codigo}))
</div>
<div class="clear-both"></div>

@Html.Partial("_reportVale")