@using AutomotoraWeb.Controllers.Sales;
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = "Anulación Venta";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", SalesController.INDEX, SalesController.BCONTROLLER).Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reciboAnulacion")