@using AutomotoraWeb.Controllers.General;

@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.NombreEntidades + ": Listado";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.SHOW).Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportList")