.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clearBoth {
    clear: both;
}

input[type="radio"] {
    vertical-align: top;
}

input[type="checkbox"] {
    vertical-align: top;
}

.alinearDerecha {
    text-align: right;
}

.editor-field-checkbox {
    height:40px; 
    vertical-align:middle;
}

.editor-field-label {
    height:40px; 
    vertical-align:middle;
}