input[readonly] {
    cursor: default;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clearBoth {
    clear: both;
}

input[type="radio"] {
    vertical-align: top;
}

input[type="checkbox"] {
    vertical-align: top;
}

.alinearDerecha {
    text-align: right;
}

.renglon-alto {
    height:40px; 
    vertical-align:middle;
}

select.mini {
  width: 60px;
}
select.small {
  width: 90px;
}
select.medium {
  width: 150px;
}
select.large {
  width: 250px;
}
select.xlarge {
  width: 420px;
}
select.xxlarge {
  width: 530px;
}

a.visited.hipervinculo {
    color: #A1A1A1;
    text-decoration: underline;
}

a.hipervinculo {
    text-decoration: underline;
}

.label-mini  {
    width: 60px;
}

.label-small  {
    width: 120px;
}

.label-medium {
    width: 150px;
}

.label-large {
    width: 250px;
}

.label-xlarge {
    width: 420px;
}

.label-xxlarge  {
    width: 530px;
}

.display-label-small {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    width: 120px;
}

.botoneraListado {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa));
    padding-left: 1em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #a6a6a6;
    margin-top:0px;
    height: 35px;
    padding-top:5px;
    padding-left: 10px;
    vertical-align:middle;
}

.hipervinculoGrillaAjax {
    color: #005580;
    text-decoration:underline;
    float: left;
    margin-right: 5px;

}
.hipervinculoGrillaAjax:hover {
    color: #CC6600;
    text-decoration: underline;
}