.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

input[type="radio"] {
    vertical-align: top;
}

input[type="checkbox"] {
    vertical-align: top;
}

.alinearDerecha {
    text-align: right;
}