@model DLL_Backend.Cliente
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = ViewBag.NombreEntidad + ": Ficha";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.DETAILS).RouteValues(new { id = Model.Codigo }).Class("btn btn-default"))
</div>
<div class="clear-both"></div>

@Html.Partial("_reportDetalle")