@{
    ViewBag.Title = "Sistema de Gestion de Automotora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>


<div style="width: 100%">
    
        <div>
            <img src="~/Content/Images/ppal1.jpg" />
        </div>
     
</div>



