@{
    ViewBag.Title = "Sistema de Gestion Automotor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<p>Contenido Inicial Generico (luego vemos de ponerle algo lindo)</p>




