@model AutomotoraWeb.Models.ListadoTransaccionesModel
@using DLL_Backend;
@using AutomotoraWeb.Controllers.General;

@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado Transacciones";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}


<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "List").Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportTransacciones")