@model DLL_Backend.ACuentaVenta
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Controllers.Sales;


<div id="divOperacion">
        <div class="well" style="margin-top: 10px; width: 1000px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#operacion_tab" data-toggle="tab">Anticipo</a></li>
                <li id="liPago"><a href="#pago_tab" data-toggle="tab">Pago</a></li>
            </ul>
            <div id="tabContent" class="tab-content">
                <div class="tab-pane active in" id="operacion_tab">
                    @Html.Partial("_detalleAcv", Model)
                </div>
                <div class="tab-pane fade" id="pago_tab">
                    @Html.Partial("_pagoEstandarConsulta", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="clear-both"></div>
<div class="espacio2"></div>