@model DLL_Backend.ACuentaVenta
@using AutomotoraWeb.Controllers.General;
@using AutomotoraWeb.Controllers.Sales;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@Html.Partial("_consultaAcv", Model)

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Comprobante", "Recibo", AcvsController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Codigo}))
    @{ if (Model.Anulable()){
        @(Html.Bootstrap().ActionLinkButton("Anular", "Anular", AcvsController.CONTROLLER).RouteValues(new { id = Model.Codigo }).Class("btn btn-primary"))
    }}
</div>
<div class="clear-both"></div>