@model DLL_Backend.ACuentaVenta
@using AutomotoraWeb.Controllers.Sales;
@{ 
    ViewBag.Title = "Recibo A Cuenta de Venta Futura";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", AcvsController.DETAILS , AcvsController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_recibo")