@model AutomotoraWeb.Models.ListadoDocumentacionModel
@using AutomotoraWeb.Controllers.General;

@{ 
    ViewBag.Title = ViewBag.NombreEntidades + ": Listado";
}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", BaseController.LIST).Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportList")