@model AutomotoraWeb.Models.ComprobanteDocumentacionModel
@using AutomotoraWeb.Controllers.General;

@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comprobante Documentación";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>


<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", "ComprobanteDocumentacion").Class("btn btn-default").RouteValues(new { id=Model.Comprobante.Vehiculo.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportComprobante")