@model string
@using DLL_Backend;
@using AutomotoraWeb.Models;

 @{  List<Alerta> ll = Alerta.obtenerAlertasActivas(Model);
     foreach(Alerta al in ll){
         
         <div class="alert @(AlertaModel.EstiloAlerta(al.Tipo))" >
                <button type="button" class="close" data-dismiss="alert">×</button>
                    @(al.Contenido)
        </div>
     
     }
 }
     