@using AutomotoraWeb.Services;
@using AutomotoraWeb.Models;



    <ul class="nav pull-right">
        <li id="fat-menu" class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>@ViewBag.UserName<i class="icon-caret-down"></i>
            </a>

            <ul class="dropdown-menu" >
            @if(ViewBag.menuOptions!=null){
                foreach (var x in (Dictionary<int, MenuOptionModel>)(ViewBag.menuOptions[MenuService.MENU_USER])) {
                    <li>@Html.ActionLink(x.Value.OpcionName, x.Value.Action, x.Value.Controlller)</li>
                    <li class="divider clear-both"></li>
                }
            }
            </ul>
        </li>
    </ul>
    