@using AutomotoraWeb.Models;
@using AutomotoraWeb.Services;


    <ul class="nav pull-right">
        <li id="fat-menu" class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>Configuración<i class="icon-caret-down"></i>
            </a>

            <ul class="dropdown-menu">
               @if (ViewBag.menuOptions!=null){
                foreach (var x in (Dictionary<int, MenuOptionModel>)(ViewBag.menuOptions[MenuService.MENU_CONFIGURATION])) {
                    MenuOptionModel om = x.Value;
                    if (om.SubMenu==null || om.SubMenu.Count==0){
                        <li>@Html.ActionLink(om.OpcionName, om.Action, om.Controlller)</li>
                    }else{
                         <li class="divider"></li>
                        foreach (var y in om.SubMenu) {
                            <li>@Html.ActionLink(y.Value.OpcionName, y.Value.Action, y.Value.Controlller)</li>
                        }
                    }
               }
            }
            </ul>
        </li>
    </ul>
    