<!-- Modal -->
<div style="position:fixed; top:60%" class ="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalTitle">Confirmacion</h4>
      </div>
      <div class="modal-body" id="myModalContent">
         Confirma la operacion?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="myModalAcepta">Aceptar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myModalCancela">Cancelar</button>
      </div>
    </div>
  </div>
</div>