<div class="sidebar-nav">
    @foreach (var x in (Dictionary<int, AutomotoraWeb.Models.MenuOptionModel>)(ViewBag.menuOptions[AutomotoraWeb.Services.MenuService.MENU_FINANCING])) {
        <a href="#sales-@x.Value.Id-menu" class="nav-header collapsed" data-toggle="collapse"><i class=""></i>@x.Value.OpcionName</a>
        <ul id="sales-@x.Value.Id-menu" class="nav nav-list collapse">
            @foreach (var y in (Dictionary<int, AutomotoraWeb.Models.MenuOptionModel>)(x.Value.SubMenu)) {
                 <li>@Html.ActionLink(y.Value.OpcionName, y.Value.Action, y.Value.Controlller)</li>
            }
        </ul>
    }
</div>