<div class="sidebar-nav">
    <a href="#financial-option1-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-dashboard"></i>Opción 1 Financiación</a>
    <ul id="financial-option1-menu" class="nav nav-list collapse in">
        <li><a href="#">Opción 1.1 Financiación</a></li>
        <li><a href="#">Opción 1.2 Financiación</a></li>
    </ul>

    <a href="#financial-option2-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-briefcase"></i>Opción 2 Financiación</a>
    <ul id="financial-option2-menu" class="nav nav-list collapse">
        <li><a href="#">Opción 2.1 Financiación</a></li>
        <li><a href="#">Opción 2.2 Financiación</a></li>
        <li><a href="#">Opción 2.3 Financiación</a></li>
    </ul>
</div>