<div class="sidebar-nav">
    <a href="#bank-option1-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-dashboard"></i>Opción 1 Banco</a>
    <ul id="bank-option1-menu" class="nav nav-list collapse in">
        <li><a href=".">Opción 1.1 Banco</a></li>
        <li><a href=".">Opción 1.2 Banco</a></li>
    </ul>

    <a href="#bank-option2-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-briefcase"></i>Opción 2 Banco</a>
    <ul id="bank-option2-menu" class="nav nav-list collapse">
        <li><a href=".">Opción 2.1 Banco</a></li>
        <li><a href=".">Opción 2.2 Banco</a></li>
        <li><a href=".">Opción 2.3 Banco</a></li>
    </ul>
</div>