@model DLL_Backend.TRChequeDepositarDescontar
@using AutomotoraWeb.Controllers.Bank;

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Deposito/Descuento Cheque";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@{ if (ViewData["idParametros"]==null || (int)ViewData["idParametros"]==0) { return; }}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Cheque", "ConsultaCheque", ChequesController.CONTROLLER).Class("btn btn-default").RouteValues(new { id=Model.Cheque.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_reciboDeposito")