@using AutomotoraWeb.Controllers.Bank;

@{ 
    ViewBag.Title = "Transferir Cheques entre Sucursales";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

@{ if (ViewData["idParametros"]==null || (int)ViewData["idParametros"]==0) { return; }}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Volver", BankController.INDEX, BankController.BCONTROLLER).Class("btn btn-default"))
</div>
<div class="clear-both"></div>


@Html.Partial("_reciboTransfSuc")