@model DLL_Backend.TRChequeRechazar
@using AutomotoraWeb.Controllers.Bank;

@{ 
    ViewBag.Title = "Cheque Rechazado";
}

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Cheque", "ConsultaCheque", ChequesController.CONTROLLER).Class("btn btn-default").RouteValues(new{id=Model.Cheque.Codigo}))
</div>
<div class="clear-both"></div>


@Html.Partial("_reciboRech")