@model List<AutomotoraWeb.Models.ParametroModel>

@{
    ViewBag.Title = "Parametros Generales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="row-fluid">
       <div id="divGrilla">
        @Html.Partial("_grillaParametros", Model)
    </div>
</div>

