@model AutomotoraWeb.Models.SeniaModel
@using AutomotoraWeb.Controllers.General;
@using DLL_Backend;
@using AutomotoraWeb.Models;

@Html.HiddenFor(model => model.ChequesDevolver, new { id = "chequesDevolverIds" })


<div class="well" style="margin-top: 10px; width: 1050px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#seniaorig_tab" data-toggle="tab">Seña</a></li>
        <li><a href="#devolucion_tab" data-toggle="tab">Devolucion</a></li>
    </ul>
    <div id="tabContentdev" class="tab-content">
        <div class="tab-pane active in" id="seniaorig_tab">
            @Html.Partial("_detallesSenia", Model)
        </div>
        <div class="tab-pane fade" id="devolucion_tab">
            @Html.Partial("_detalleDevolucion", Model)
        </div>
    </div>
</div>
<div class="clear-both"></div>

<div class="btn-toolbar">
    <div class="floatRight">
        @(Html.Bootstrap().Button().Class("btn btn-primary icon-save").Text(" Devolver Seña").Id("btn_confirmar"))
    </div>
</div>
<div class="clear-both"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown', function (e) {
            ASPxClientControl.AdjustControls();
            //alert(e.target.hash) // active tab
            //alert(e.relatedTarget.hash) // previous tab
        });
    });




</script>
