@model DLL_Backend.Senia
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = ViewBag.NombreEntidad + ": Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

CONSULTA SENIA SIN IMPLEMENTAR