@model DLL_Backend.Venta
@using AutomotoraWeb.Controllers.Sales;
@using AutomotoraWeb.Controllers.General;

@{   Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comprobante Venta";
}
@section HeadResources{
    @Html.Partial("_devExpressReporte")
}

<span class="validation-summary-errors">@ViewBag.ErrorMessage</span>

<div class="btn-toolbar">
    @(Html.Bootstrap().ActionLinkButton("Consulta Venta", BaseController.DETAILS, VentasController.CONTROLLER).Class("btn btn-default").RouteValues(new {id=Model.Codigo }))
</div>
<div class="clear-both"></div>


@Html.Partial("_reportComprobanteVenta")