@model List<DLL_Backend.Pedido>
@using AutomotoraWeb.Controllers.General;

@{
    ViewBag.Title = ViewBag.NombreEntidades;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="espacio"></div>

<div class="row-fluid">
    <div class="btn-toolbar">
        <div class="btn-group">
            @(Html.Bootstrap().ActionLinkButton("Agregar ", BaseController.CREATE ).AppendIcon(TwitterBootstrapMVC.Icons.plus, true).Style(TwitterBootstrap2.ButtonStyle.Primary))
        )
        </div>
        <div class="btn-group">
            <a class="btn btn-primary2-mf" title="Listado" href='@Url.Action(BaseController.LIST)'>Listado</a>
        </div>
    </div>
       
    <div id="divGrilla">
        @Html.Partial("_listGrilla", Model)
    </div>
</div>

